:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-address-bottom-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-second-color: #000000;

    --primary-white-color: #FFFFFF;
    --accent-background-color: #2F303A; 
    --second-accent-background-color: #F5F4FA;
}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
/* Обнулення маркування списків */
.list{
    list-style: none;
}

/*Загальне для посилань*/
.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

/* Загальне для кнопок */
.button {
    font-family: inherit;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
}

/* ----------HEADER---------- */
/* Лого */
.logo{
    color: var(--logo-second-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo-el{
    color: var(--accent-color);
}

/*Навігація*/
.site-nav{
    font-weight: 500;
}
.site-nav .link{
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

/* Виділення поточної сторінки кольором*/
.site-nav .link.current{
    color: var(--accent-color);
}
/* Виділення і псевдостани посилань на сторінки*/
.header .contact{
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
}

.contact.link:hover,
.contact.link:focus{
    color: var(--accent-color);
}


/* -------CТУДІЯ-------*/

/* Герой */
.hero{
    background-color: var(--accent-background-color);
}
.hero-title{
    color:var(--primary-white-color);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Кнопка Замовити послугу */
.button.primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
}

/* Особливості */
/* h2 */
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
}

.features-subtitle{
    font-size: 14px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-transform: uppercase;
}
.features-text{
    font-size: 14px;
    line-height: 1.71;
}

/* Наша команда */
.team{
    background-color: var(--second-accent-background-color);
}
.team-item {
    background-color: var(--primary-white-color);
}
.team .title{
    color: var(--title-text-color);
}
.team-subtitle {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
}
.team-dscr{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* --------ПОРТФОЛІО---------- */
/* Кнопки*/
.button.secondary {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    background-color: var(--second-accent-background-color);
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* h2*/
.portfolio-title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* Картки з проєктами */
.portfolio-card{
    border: 1px solid #EEEEEE;
}
.portfolio-dscr{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.portfolio-link{
    text-decoration: none;
}


/* ----------FOOTER---------- */
.bottom {
    background-color: var(--title-text-color);
}

.logo-second-el {
    color: var(--primary-white-color);
}

.bottom-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.location {
    color: var(--primary-white-color);
    letter-spacing: 0.03em;
}
.bottom .contact {
    color: var(--link-address-bottom-color);
    letter-spacing: 0.03em;
}


